<section class="section">
    <div class="columns is-variable is-8">
        <div class="column is-5 is-offset-1">
            <div class="card">
                <h1 style="margin-top: 5%" class="title has-text-black is-3"><a id="sum" href="/post/{{0.id}}">{{0.title}}</a></h1>
                    <img id="sum-img" class="card-img-top" src="{{format_summary 0.image}}" alt="Card image">
            <div class="card-body">
                <h2 class="subtitle is-5 has-text-grey">{{format_date 0.createdAt}}</h2>
                    <h6>By: {{0.user.username}}</h6>
                        <p class="has-text-dark">{{format_summary 0.content}}</p>
            </div>
            </div>
        </div>
        {{#if 1.title}}
        <div class="column is-5">
               <div class="card">
                    <h1 style="margin-top: 5%" class="title has-text-black is-3"><a id="sum" href="/post/{{1.id}}">{{1.title}}</a></h1>
                        <img id="sum-img" class="card-img-top" src="{{format_summary 1.image}}" alt="Card image">
            <div class="card-body">
                <h2 class="subtitle is-5 has-text-grey">{{format_date 1.createdAt}}</h2>
                    <h6>By: {{1.user.username}}</h6>
                        <p class="has-text-dark">{{format_summary 1.content}}</p>
            </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>